<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Redirect /api requests to index.php for Laravel routing
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^api/(.*)$ /index.php [QSA,L]

    # Generic Laravel routing
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ /index.php [QSA,L]
</IfModule>
